    * {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: "Segoe UI";
    }
    /* ESTILIZAÇÃO DO HEADER */
    
    .bg-img {
        /* The image used */
        background-image: url("../img/picture.jpg");
        min-height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #0001;
        position: fixed;
        z-index: 999;
        width: 100%;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .myTopnav {
        padding: "30px 10px";
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
    
    .topnav .icon {
        display: none;
        color: white;
    }
    
    .name {
        color: white;
    }
    
    .logo {
        width: 250px;
    }
    
    .lai {
        display: flex;
        justify-content: space-evenly;
        margin: 12px 0 0 0;
    }
    
    #banner {
        padding-top: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #banner p {
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
    }
    /* STYLE SOBRE MIM */
    
    .pouco {
        text-align: center;
    }
    
    #sobre {
        color: #00ACCC;
        text-align: center;
        font-size: 2rem;
    }
    
    .ali {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li {
        color: #fff;
        text-decoration: none;
    }
    
    .coloring {
        background-color: #101010;
        color: #fff;
        padding-top: 50px;
    }
    
    .rest {
        text-align: left;
        max-width: 700px;
        width: 100%;
        text-align: left;
        line-height: 1.8;
        font-size: 1.8rem;
        padding: 50px;
    }
    
    .guga {
        border-radius: 50%;
        height: 13rem;
        width: 13rem;
    }
    
    h2 {
        text-align: center;
    }
    /* ESTILIZAÇÃO SKILLS */
    
    .centrali {
        background-color: #141414;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    .rest12 {
        max-width: 700px;
        width: 100%;
        text-align: left;
        line-height: 1.8;
        font-size: 1.8rem;
        padding: 50px;
        margin-top: 10%;
    }
    
    .skills {
        padding: 0 20px;
        padding-bottom: 40px;
        width: 400px;
    }
    
    .crl {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    .habilidade-dupla {
        padding: 0 20px;
        width: 400px;
    }
    
    .soft {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    .mb {
        text-align: left;
        line-height: 1.8;
        font-size: 1.8rem;
        max-width: 700px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .soft {
        background-color: #141414;
        color: #fff;
    }
    /* ESTILIZAÇÃO PORTFOLIO */
    
    .ano {
        border: 1px solid #dcdcdc;
        text-align: center;
        padding: 10px;
        height: 50px;
        width: 80px;
        -webkit-box-shadow: 10px 10px 5px 0px#000;
        -moz-box-shadow: 10px 10px 5px 0px #000;
        box-shadow: 10px 10px 5px 0px #dcdcdc;
    }
    
    .tili {
        display: flex;
        flex-direction: column;
    }
    
    .portfolio {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    
    .portfolio1 {
        display: flex;
        flex-direction: column;
    }
    
    .ano1 {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .project {
        padding: 60px;
        background-color: #121212;
        color: #fff;
    }
    
    .projetos {
        display: flex;
        justify-content: center;
    }
    
    .ROLE {
        border: 3px solid #fff;
        width: 400px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .ROLE:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .img22 {
        border: 3px solid red;
        width: 400px;
        height: 250px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .img22:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .scroll {
        padding: 15px 10px;
    }
    
    .as {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
    }
    
    .hebert {
        display: flex;
        flex-direction: column;
    }
    
    .gss {
        height: 4px;
        color: black;
    }
    
    .roletop {
        background-image: url("../img/ux.PNG");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    .link {
        text-decoration-style: none;
        color: white;
    }
    
    .comport {
        padding-bottom: 50px;
    }
    
    .button-cv-a {
        display: flex;
        justify-content: center;
    }
    
    .button-cv {
        border: 2px solid #000;
        border-radius: 5px;
        width: 250px;
        text-align: center;
        padding: 10px;
        height: 50px;
        background-color: #00ACCC;
        color: #000;
        font-weight: 500;
        font-family: 'Segoe UI';
        letter-spacing: .3rem;
    }
    
    .git {
        color: black;
        width: 400px;
    }
    
    .softskills {
        text-align: center;
    }
    
    .fabri {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 35px;
        color: #fff;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .fabri:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .fabs {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 40px;
        color: #fff;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-bottom: 2.2rem;
    }
    
    #con {
        background-color: #151515;
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        padding: 50px;
    }
    
    .stu {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .tre {
        display: flex;
        flex-direction: row;
    }
    
    .contato {
        display: flex;
        justify-content: center;
        margin: 9.4rem 0 0 0;
        margin-bottom: 50px;
    }
    
    .aven {
        display: flex;
        padding-bottom: 6px;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    
    .telefone {
        display: flex;
        padding-bottom: 6px;
        flex-direction: column;
        text-align: center;
    }
    
    .localizaca {
        display: flex;
        padding-bottom: 6px;
        flex-direction: column;
        text-align: center;
    }
    
    .oito {
        display: flex;
        justify-content: center;
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        padding: 0 120px
    }
    
    .self {
        display: flex;
        justify-content: space-evenly;
    }
    
    .spac {
        margin-bottom: 2rem;
        color: #00ACCC;
        text-transform: uppercase;
    }
    
    .githbuf {
        padding: 0 20px;
    }
    
    .contato {
        padding: 0 120px;
    }
    
    .contatc {
        margin-top: 0;
    }
    
    @media(max-width: 625px) {
        .crl {
            flex-wrap: wrap;
            padding: 20px;
        }
        .coloring {
            flex-wrap: wrap;
        }
        .softskills {
            font-size: 18px;
            text-align: left;
            padding: 20px;
        }
        .comport {
            font-size: 30px;
            padding-bottom: 0;
        }
        .area {
            font-size: 14px;
        }
        .name {
            font-size: 28px;
        }
        .skills {
            padding-bottom: 0;
        }
        .guga {
            margin: .3rem 0 .9rem 0;
        }
        .iq {
            padding: 0;
        }
        .titleee {
            padding: 30px;
            text-align: center;
        }
        .var {
            padding: 30px;
            text-align: left;
        }
        .ali {
            display: block;
            text-align: center;
        }
        #sobre {
            padding: 0 10px;
            font-size: 18px;
        }
        .mb {
            text-align: center;
        }
        .contato {
            flex-wrap: wrap;
            padding: 0;
        }
        .redes {
            padding: 0;
        }
        .aven {
            padding-bottom: 33px;
        }
        .button-cv {
            padding: 15px;
            font-size: 13px;
        }
        .pouco {
            font-size: 25px;
            margin-bottom: 2rem;
        }
        .rest {
            font-size: 18px;
        }
        .ano {
            height: 40px;
            padding: 5px;
            color: #00ACCC;
        }
        .ano1 {
            display: block;
        }
        .coloring {
            padding-bottom: 10px;
        }
        .bg-img {
            width: 100%;
            height: 100%;
        }
        .project {
            flex-wrap: wrap;
            display: block;
            padding: 35px;
        }
        .lai {
            display: block;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav.responsive .icon {
            position: fixed;
            right: 0;
            top: 0;
        }
        .responsive {
            padding: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .myTopnav {
            padding: 0px;
        }
    }
    
    @media (max-width: 1025px) {
        .portfolio {
            display: block;
            flex-wrap: wrap;
            text-align: center;
        }
        .projetos {
            display: block;
            text-align: center;
        }
        .cool30 {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
        }
        .ROLE {
            width: 100%;
        }
        .hebert {
            display: block;
        }
        .hs {
            display: block;
        }
        .as {
            display: block;
        }
        .img22 {
            width: 100%;
            height: 100%;
        }
        #banner {
            padding-top: 450px;
            display: block;
        }
    }